*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

header{
    position: relative;
    background-color: #c1dc29;
    height: 100vh;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}
header img{
    position: absolute;
    height: 50%;
    bottom: 0;
    left: 20%;
}
header .welcome{
    position: absolute;
    z-index: 1;
    top: 7%;
    left: 5%;
    right: 5%;
}
div.welcome {
    font-family: 'saira condensed', sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.welcome p{
    line-height: 200%;
}
.welcome h1{
    font-size: 20px;
}
.welcome h2{
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 2px;
}
.welcome button {
    font-family: 'saira', sans-serif;
    font-weight: 300;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 12px;
    border: 2px solid white;
}
#link1 {
    text-decoration: none;
    color: white;

}

@media (orientation: portrait) and (min-width: 360px){
    .welcome h1, .welcome h2{
        font-size: 24px;
    }
    .welcome button{
        margin-top: 30px;
        font-size: 16px;
        line-height: 35px;
    }
    header img{
        height: 55%;
        left: 15%;
    }
}

@media(orientation: portrait) and (min-width: 410px){
    header .welcome {
        top: 5%;
    }
    .welcome h1, .welcome h2{
        font-size: 30px;
    }
    .welcome button{
        margin-top: 30px;
        font-size: 20px;
        line-height: 200%;
    }
    header img{
        height: 60%;
        left: 5%;
    }
}

@media(orientation: portrait) and (min-width: 768px){
    header .welcome {
        top: 5%;
    }
    .welcome p {
        font-size: 70px;
    }
    .welcome h1, .welcome h2{
        font-size: 45px;
    }
    .welcome button{
        margin-top: 30px;
        font-size: 25px;
        line-height: 250%;
    }
    header img{
        height: 60%;
        left: 5%;
    }
}

@media (orientation: portrait) and (min-width: 1024px){
    header .welcome{
        top: 10%;
        right: -15%;
    }
    .welcome p {
        font-size: 80px;
    }
    header img{
        height: 65%;
        left: -3%;
    }
    .welcome h1, .welcome h2{
        font-size: 60px;
        line-height: 200%;

    }
    .welcome button{
        margin-top: 60px;
        margin-left: 200px;
        font-size: 32px;
        line-height: 250%;
       
    }
}

@media (orientation: portrait) and (min-width: 1200px){
    header img{
        height: 70%;
        left: -3%;
    }
}

@media (orientation: landscape){
    header img{
        height: 90%;
        left: 5%;
    }
    header .welcome{
        top: 15%;
        left: 45%;
        right: 5%;
    }
    .welcome button {
        margin-top: 40px;
    }
}

@media (orientation: landscape) and (min-width: 640px){
    .welcome h1, .welcome h2{
        font-size: 24px;
    }
    .welcome button{
        font-size: 16px;
        line-height: 35px;
    }
}

@media (orientation: landscape) and (min-width: 1024px){
    header .welcome{
        top: 15%;
        left: 50%;
        text-align: left;
    }
    .welcome p {
        font-size: 56px;
    }
    header img{
        height: 80%;
        left: 0%;
    }
    .welcome h1, .welcome h2{
        font-size: 40px;
        line-height: 170%;
    }
    .welcome button{
        margin-top: 60px;
        font-size: 27px;
        line-height: 200%;
    }
}

@media (orientation: landscape) and (min-width: 1280px){
    header .welcome{
        top: 5%;
        left: 55%;
    }
    .welcome p {
        font-size: 80px;
        line-height: 150%;
    }
    header img{
        height: 80%;
        left: 5%;
    }
    .welcome h1, .welcome h2{
        font-size: 55px;
        line-height: 150%;
    }
    .welcome button{
        margin-top: 50px;
        font-size: 30px;
        line-height: 250%;
    }
}

@media (orientation: landscape) and (min-width: 1600px){
    .welcome p {
        font-size: 100px;
    }
    header img{
        height: 100%;
        left: 0%;
    }
    .welcome h1, .welcome h2{
        font-size: 50px;
        line-height: 200%;
    }
    .welcome button{
        margin-top: 70px;
        font-size: 30px;
        line-height: 200%;
        border-width: 1px;
    }
}

@media (min-width: 1024px){
    .welcome button{
        cursor: pointer;
        transition: .3s;
    }
    #link1:hover{
        color: #333;
     } 
}

/* SEKCJE */
/* sekcja1 */
.about-me{
    padding: 5%;
    text-align: center;
    max-width: 1600px;
    margin: 5% auto 0 auto;

}
.about-me h1{
    margin-bottom: 5%;
    font-family: 'saira condensed', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.6);
}
.about-me p {
    padding: 0 20px;
    font-family: 'saira ', sans-serif;
    font-size: 18px;
    font-weight: 300px;
}

 @media (orientation: landscape){
    .about-me{
        margin: 0 auto;
    }
 }

 @media( min-width: 768px){
    .about-me{
        margin: 0 auto;
    }
    .about-me h1{
        margin-bottom: 5%;
        font-size: 36px;
    }
    .about-me p {
        padding: 0 20px;
        font-size: 24px;
    }
 }

 @media (min-width: 1600px){
    .about-me h1{
        font-size: 45px;
    }
    .about-me p{
        font-size: 30px;
    }
 }
 @media (min-width: 1600px){
    .about-me h1{
        font-size: 50px;
    }
 }

/* sekcja 2 */
.features{
    text-align: center;
    max-width: 1920px;
    margin: 5% auto 0 auto;
}
.features h1{
    padding: 10px 20px 20px ;
    margin-bottom: 20px;
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;
    color: beige;
    text-align: center;
    background-color: #c1dc29;
    font-size: 20px;
}
.features h2{
    font-family: 'saira condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.features p{
    margin: 10px 0;
    font-family: 'saira ', sans-serif;
    font-size: 12px;
    font-weight: 300px;
}
.features img{
    width: 100%;
    max-width: 375px;
}
.feature{
    padding: 5%;
}

@media (min-width: 360px) {
    .features p{
        font-size: 16px;
    }
    .features h1 {
        font-size: 24px;
    }
    .features h2 {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .features p{
        font-size: 22px;
    }
    .features h1 {
        font-size: 36px;
    }
    .features h2 {
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    .features{
        margin-top: 5%;
    }
    .feature{
        float: left;
        width: 33%;
        padding: 2% 4%;
       
    }
    .features p{
        font-size: 18px;
        padding: 0 10px;
    }
    .features h1 {
        font-size: 45px;
    }
    .features h2 {
        font-size: 24px;
    }
}

@media (min-width: 1600px) {
    .feature{
        float: left;
        width: 33%;
        padding: 20px 40px;
    }
    .features p{
        font-size: 21px;
        padding: 0 10px;
        line-height: 140%;
    }
    .features h1 {
        font-size: 60px;
    }
    .features h2 {
        font-size: 32px;
    }
}

/* sekcja 3 */
.portfolio {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #c1dc29;
    padding: 10px 0 30px;

}
.portfolio .project{
    background-color: #777;
    max-width: 1400px;
    margin: 0 auto ;
}
.portfolio h1{
    padding: 0 20px;
    margin-bottom: 20px;
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;
    color: beige;
    text-align: center;
    background-color: #c1dc29;
    font-size: 24px;
}

.portfolio .web img{
    width: 100%;
}
.portfolio .about{
    color: beige;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    text-align: left;
    padding: 10px 20px 20px 0px;
}
.portfolio .about h2{
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid beige;
    padding: 0px 10px 10px 20px;

}
.portfolio .about h2 span{
    font-size: 10px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 250%;
    color: beige;
    cursor: pointer;
  }

.portfolio .about p{
    font-size: 12px;
    padding: 20px 0 0 15px;
}

@media (orientation: landscape){
    .web, .about{
        width: 50%;
        float: left;
        padding: 0;
    }
    .portfolio .about{
       padding: 0;
    }
    .web img {
        display: block;
    }
    .portfolio .about h2{
        font-size: 16px;
        padding-top: 10px;
    }
    .portfolio .about h2 span{
        font-size: 11px;
        padding-left: 5px;
        line-height: 200%;
    }
    .portfolio .about p{
        font-size: 10px;
        padding: 10px 10px 0 15px;
    }
    .project:nth-of-type(even) .web{
        float: right;
    }
    .project:nth-of-type(even) .about{
        float: left;
        padding-right: 0;
    }
    .project:nth-of-type(even) .about p{
        padding: 10px 10px 10px 20px;
        font-size: 9px;
    }
    .project:nth-of-type(even) .about h2{
        padding-left: 0;
        margin-left: 20px;
    }
}

@media (min-width: 768px) and (orientation: portrait){
  .portfolio h1{
      font-size: 40px;
  
  }
  .portfolio .about h2{
      font-size: 28px;
      padding: 10px 20px 20px 30px;
  
  }
  .portfolio .about h2 span{
      font-size: 20px;
      padding-left: 10px;
  }
  .portfolio .about p{
      font-size: 20px;
      padding: 30px 30px 20px 30px;
  }
}

@media(min-width: 538px) and (orientation: landscape){
  .portfolio .about p{
    font-size: 10px;
}
.portfolio .about h2{
  font-size: 12px;
}
.portfolio .about h2 span{
  font-size: 9px;
}
.project:nth-of-type(even) .about p{
  font-size: 9px;
}
}

@media(min-width: 736px) and (orientation: landscape){
  .portfolio .about p{
    font-size: 13px;
}
.portfolio .about h2{
  font-size: 16px;
}
.portfolio .about h2 span{
  font-size: 11px;
}
.project:nth-of-type(even) .about p{
  font-size: 12px;
}
}

@media(min-width:1024px) and (orientation: landscape){
    .portfolio{
        padding-bottom: 100px;
    }
    .portfolio h1{
        font-size: 45px;
    }
    .portfolio .about h2{
        font-size: 23px;
    }
    .portfolio .about p{
        font-size: 17px;
    }
    .project:nth-of-type(even) .about p{
      font-size: 17px;
    }
    .project:nth-of-type(1) .about h2 span{
      padding-left: 0px;
      font-size: 13px;
    }
}

@media(min-width: 1024px){
    .portfolio .about h2{
        font-size: 23px;
        letter-spacing: 2px;
    
    }
    .portfolio .about h2 span{
        font-size: 15px;
        padding-left: 10px;
        line-height: 250%;
    }
    .portfolio .about p{
        font-size: 17px;
    }
}


@media (orientation: landscape) and (min-width:1400px){
    .portfolio{
        padding-bottom: 150px;
    }
    .portfolio h1{
        font-size: 60px;
        line-height: 200%;
    }
    .portfolio .about h2{
        font-size: 30px;
        padding-top: 50px;
        margin-bottom: 30px;
        padding-left: 40px;
    }
    .portfolio .about p{
        font-size: 20px;
        padding-left: 40px;
        line-height: 160%;
    }
    .project:nth-of-type(even) .about p{
      padding-left: 40px;
      font-size: 20px;
    }
    .project:nth-of-type(even) .about h2 {
      padding-left: 0;
      margin-left: 40px;
  }
  .project:nth-of-type(1) .about h2 span{
    padding-left: 10px;
    font-size: 15px;
    line-height: 250%;
  }
}

/* MOTTO */
section.slogan2, .slogan3{
    display: none;
}
.slogan {
    min-height: 40vh;
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
    color: beige;
    line-height: 150%;
    position: relative;
}
.slogan h1{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.slogan p{
    padding: 0 20px 0 10px;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
}
.slogan p.text{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
}
.slogan p.author{
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 15px;
}
.slogan .bg{
    width: 100vw;
    min-height: 40vh;
    position: absolute;
    background-color: rgba(0,63, 114, 0.2);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 10px;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 24s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#slogan1 {
  background-image: url(img/motto.jpg); 
}

#slogan2 {
  background-image: url(img/motto2.jpg);
  -webkit-animation-delay: -16s;
}

#slogan3 {
  background-image: url(img/motto3.jpg);
  -webkit-animation-delay: -8s;
  background-position: bottom;
  color: rgba(0, 0, 0, 0.8);
  
}

@media (orientation: landscape){
    .slogan{
        min-height: 50vh;
    }
    .slogan .bg{
        min-height: 50vh;

    }
    .slogan p {
        width: 70%;
    }
    .slogan p.text {
        width: 60%;
        margin-left: 35%;
    }
    .slogan h1{
        margin-left: 35%;
    } 
    .slogan p.author {
        margin-left: 30%;
    }
}

@media (min-width: 768px){
    .slogan{
    min-height: 40vh;
    background-size: content;
    background-position: 50% auto;
    line-height: 200%;
    }
    .slogan p.text {
        font-size: 24px;
        width: 60%;
        margin-left: 35%;
        padding-top: 20px;
    }
    .slogan h1{
        font-size:32px;
        margin-left: 35%;
        padding-top: 50px;
    } 
    .slogan p.author {
        margin-left: 35%;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .slogan .bg{
        min-height: 40vh;
    }
    #slogan3{
        color: white;
    }
}

@media (min-width: 1024px){
    .slogan{
        background-attachment: fixed;
        min-height: 50vh;
        background-color: #c1dc29;
        margin: 0 auto;
    }
    .wrap{
        width: 1024px;
        margin: 0 auto;
    }
    .slogan p.text {
        font-size: 32px;
        line-height: 150%;
    }
    .slogan h1{
        font-size: 40px;
    } 
    .slogan p.author {
        font-size: 27px;
        width: 50%;
        text-align: right;
    }
    .slogan .bg{
        min-height: 50vh;
        width: 1024px;
        margin: 0 auto;
    }
    #slogan3{
        color: white;
    }
}

@media (min-width: 1080px){
    .slogan p.author {
        font-size: 22px;
    }
}

@media (min-width: 1400px){
    .wrap{
        width: 1400px;
        margin: 0 auto;
    }
    .slogan .bg{
        min-height: 50vh;
        width: 1400px;
    }
    .slogan p.author {
        padding-top: 30px;
        font-size: 26px;
    }
}

@media (min-width: 1600px){
    .wrap{
        width: 1600px;
    }
    .slogan .bg{
        width: 1600px;
    }
}

@media (min-width: 1920px){
    .slogan{
        background-color: #c1dc29;
        margin: 0 auto;
        min-height: 50vh;
        padding-bottom: 50px;
    }
    .slogan .bg {
        width: 1600px;
        height: 40vh;
    }
    .slogan h1{
        font-size: 45px;
    }
    .slogan p.text {
        padding-top: 50px;
        font-size: 36px;
    }
    .slogan p.author {
        font-size: 30px;
        padding-top: 50px;
    }
}

/* HOBBY */
.hobby{
    max-width: 1920px;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    background-color: #c1dc29;
}
.wrap{
    max-width: 1600px;
    margin: 0 auto;
}
.hobby .item{
    height: 30vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hobby .item:nth-of-type(1){
    background-image: url(img/natura.jpg);
    background-position: top center;
}
.hobby .item:nth-of-type(2){
    background-image: url(img/yoga.jpg);
    background-position: bottom center;
}
.hobby .item:nth-of-type(3){
    background-image: url(img/sen.jpg);
}
.hobby .item:nth-of-type(4){
    background-image: url(img/zdrowie.jpg);
}
.hobby .item p{
    font-family: "saira", sans-serif;
    color: beige;
    text-align: center;
    line-height: 30vh;
    background-color: rgba(0, 0, 0, .3);
    font-size: 20px;
    padding: 5px 0;
}
.hobby h1{
    padding: 20px 20px 30px 20px;
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;
    color: beige;
    text-align: center;
    background-color: #c1dc29;
    font-size: 24px;
}

@media (min-width: 533px){
    .hobby .item{
        float: left;
        width: 50%;
        height: 40vh;
    }
    .hobby .item p{
        line-height: 120%;
    }
}

@media (min-width: 768px){
    .hobby .item{
        position: relative; 
    }
    .hobby .item p{
        line-height: 100%;
        font-size: 27px;
        padding: 5px 40px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .hobby h1{
        font-size: 44px;
        padding: 40px;
        line-height: 120%;
    }
}

@media (min-width: 1024px){
    .hobby .item{
        width: 50%;
        height: 40vh;
        position: static;
    }
    .hobby .item p{
        line-height: 40vh;
        padding: 0;
        opacity: 0;
        transition: 1s;
        cursor: default;
        position: static;
    }
    .hobby .item p:hover{
        opacity: 1;
    }
}
@media(min-width: 1400px){
    .hobby .item{
        background-size: 110%;
        transition: 1s;
    }
    .hobby .item:hover{
        background-size: 130%;
    } 
}

@media(min-width: 1600px){
    .hobby .item p{
        font-size: 40px;
    }
    .hobby h1{
        font-size: 60px;
    }
}


 /* KONTAKT  */
 .contact {
    max-width: 1920px;
    margin: 0 auto;
    background-color:  #777; 
 } 
.contact .wrap{
    padding-top: 20px;
    max-width: 1024px;
    margin: 0 auto;
} 
.contact h1 { 
    padding: 20px 20px 30px 20px; 
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;
    color: beige;
    text-align: center;
    font-size: 24px;
    background-color: #c1dc29;
    margin-bottom: 30px;
 } 
 .contact .contactForm{
    display: flex;
    flex-direction: column; 
 }
.contact input, .contact button, .contact textarea{
    width: 90%;
    font-family: "saira", sans-serif;
    font-size: 12px; 
    padding: 5px; 
    margin: 10px auto;
} 
 .contact input{
    height: 36px;
}
.contact textarea{
    height: 120px;
}
.contact button{
    font-size: 16px;
}
.contact .submit-button{
    font-size: 16px;
    line-height: 40px;
    background-color: #c1dc29;
    color: beige;
    border: 1px solid beige;
    text-transform: uppercase;
    text-align: center;
}
.contact .socials {
    padding: 30px 30px;
}
.contact .social {
    padding-top: 10px 0;
    color: beige;
    font-family: "saira condensed", sans-serif;
}
.contact .social img{
    float: left;
    width: 50px;
    height: 50px;
}
.contact .social span{
    float: left;
    line-height: 70px;
    padding-left: 20px;
}
.contact .send-done{
    display: none;
    color: beige;
    font-family: "saira condensed", sans-serif;
    text-align: center;
    border: 3px solid #c1dc29;
    font-size: 22px;
}
.contact .send-failed{
    display: none;
    color: beige;
    font-family: "saira condensed", sans-serif;
    text-align: center;
    color: red;
    border: 3px solid red;
    font-size: 22px;
}

@media (orientation: landscape){
    .contact .social{
        padding-left: 20px;
    }
    .contact .social img{
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 533px){
    .contact .socials{
        padding: 30px 50px;
        font-size: 0;
    }
    .contact .social{
        width: 50%; 
        display: inline-block;
        font-size: 16px;
    }
    .contact .social span{
         padding-right: 20px;
        padding-left: 10px;
        font-size: 20px;
    }
    .contact .social img{
        width: 60px;
        height: 60px;
    }
    .contact input, .contact button, .contact textarea{
        font-size: 20px;
    }
}

@media (min-width: 1024px){
    .contact .contactForm{
        float: left;
        width: 55%;
    }
    .contact .socials{
        float: right;
        width: 40%;
        padding: 5px 0px;
    }
    .contact .social{
        display: block;
        width: 100%;
        padding-bottom: 50px;
    }
    .contact .social span{
        font-size: 24px;
        line-height: 40px;
        padding: 10px;
        padding-left: 20px;
    }
    .contact{
        padding-bottom: 30px;
    }
    .contact input{
        height: 40px;
        font-size: 18px;
    }
    .contact textarea{
        height: 140px;
        font-size: 18px;
    }
    .contact button{
        font-size: 26px;
        line-height: 50px;
        border-width: 2px;
        transition: .5s;
        margin-bottom: 50px;
    }
    .contact h1 { 
        padding: 30px ; 
        font-size: 45px;
    }
    .contact button:hover{
        background-color: #c1dc29;
        font-size: 32px;
        font-weight: bold;
        color: beige;
        cursor: pointer;
    }
    .contact .send-done{
        display: none;
        font-size: 40px;
        border: 3px solid #c1dc29;
        margin-right: 40px;
    }
    .contact .send-failed{
        display: none;
        font-size: 40px;
        border: 3px solid red;
        margin-right: 40px;
    }
}

@media (min-width: 1600px){
    .contact h1{
        font-size: 60px;
    }
    .contact .send-done{
        display: none;
        font-size: 35px;
    }
    .contact .send-failed{
        display: none;
        font-size: 30px;
       color: #DE1738;
       background-color: beige;
    }
}

footer{
    max-width: 1920px;
    margin: 0 auto;
    background-color: #c1dc29;
    font-family: "Saira" sans-serif;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
@media (min-width: 1024px){
    footer{
        padding: 20px;
    }
}